<aside class="my-4 border-t pt-4">
  {% include "_rich-text/standard" with { text: "<h2>#{ 'Continue reading'|t }</h2>" } only %}
  {% include "blog/_modules/teasers-list" with { articles: nextReads } %}
</aside>
