{% extends "_layouts/layout.twig" %}

{% set articlesQuery = craft.entries.section("blog").with(["mainImage.image:image"]).limit(15) %}
{% paginate articlesQuery as pagination, articles %}

{% block content %}
  {% include "_rich-text/standard" with { text: "<h1>#{'Our blog'|t}</h1>" } only %}
  <div class="my-4">
    {% if articles|length %}
      {% include "blog/_modules/teasers-list" with { articles: articles } only %}
    {% else %}
      {% include "_rich-text/standard" with { text: "<p>#{'No entries yet. Create some in the CMS!'|t}</p>" } only %}
    {% endif %}
  </div>
  {% include "_modules/pagination" with { pagination: pagination } only %}
{% endblock %}
