{% extends "_layouts/layout.twig" %}
{% set homepage = craft.entries.section("homepage").one() %}

{% set text %}
  <h1>{{ "404!"|t }}</h1>
  <p>{{ "Page not found"|t }}</p>
  <p><a class="button" href="{{ homepage.getUrl() }}">{{ "Return to homepage"|t }}</a></p>
{% endset %}

{% block content %}
  <article class="max-w-4xl mx-auto p-2 md:p-4 lg:p-6">
    {% include "_rich-text/standard" with { text: text } only %}
  </article>
{% endblock %}
